body{
    
    background-color: lavenderblush;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    text-align: center;
    color: rgb(226, 134, 180);
    text-decoration: underline;
    
}

.titulo
{
    color:#A0522D;
    text-align: center;
    
}

.contenido
{
   width: 500px;
   height:400px;
   
   margin:10px auto;
   padding: 5px;

}
h4
{
    margin: 10px auto;
    padding: 10px;
    color: white;
    font-style: oblique;
    background-color: rgb(226, 134, 180);
    padding: 15px;
    border-color: aliceblue;
    border-style: solid;
    width: 120px;
    height: 20px;
    text-align: center;
}

p
{
    text-align: center;
    color: #A0522D;
    width: 500px;
    height: 150px;
    
}







