body{
    background-color: antiquewhite;
}



h1
{
    color: hotpink;
    font-style: oblique;
    text-align: center;
}

h3
{
    color: hotpink;
    margin-left:50px;
    text-align: center;
}
p 
{ 
    color:gray;
    text-align: center;

}

table
{
    background-color: thistle;
    color: aliceblue;
    margin: 20px auto;

}
.Seccion1
{
    margin: 10px auto;
    
}

header
{
    
    margin: 10px auto;
    padding: 2px;
    border:2px solid hotpink
}

a
{
 text-align: center;
}
*
{
    margin:10px;
}

